/* Colour Palette (colorhunt no. 202087) */
/* charcoal: 41444b */
/* dark grey: 52575d */
/* yellow: fddb3a */
/* off-white: f6f4e6 */


/* Font settings */
h1, h2, h3, h5 {
  font-family: "EB Garamond";
}
p, a {
  font-family: "Open Sans"
}
.navbar-brand, .nav-link, .dropdown-item, .form-control {
  font-family: "EB Garamond";
}
.learn-more {
  font-family: "Open Sans"
}


/* Section: top */
.top-img {
  width: 100%;
}

.top-first-col, .top-second-col {
  padding: 0;
  text-align: center;
  background-color: #f6f4e6;
}

.top-title {
  text-align: center;
  margin-top: 40%;
}

.top-text {
  display: inline-block;
  width: 50%;
  padding-top: 1rem;
  margin-bottom: 40%;
}

/* Section: services */
.services-box {
  text-align: center;
  margin: 3rem 0 5rem 0;
}
.service-col {
  margin-bottom: 50px;
}
.service-img {
  border-radius: 100%;
  width:180px;
  height: 180px;
  margin-bottom: 1rem;
}
.service-text {
  width: 80%;
  margin: 0 10%;
}

.quote {
  font-family: "EB Garamond";
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  padding: 100px 20%;
  line-height: 1;
}

.carousel-caption {
  position: absolute;
  top: 0;
  right: 20%;
  bottom: 0;
  left: 20%;
  padding: 1rem 1rem 0 1rem;
  background-color: rgba(0,0,0,.25);
  display: inline-block;
  text-align: left;
}

.learn-more {
  font-size: .75rem;
}

.fa-facebook, .fa-instagram, .fa-share-alt {
  margin-left: 1rem;
}

.fa-twitter {
  margin-left: 0;
}

.footer-container p, .footer-container li, .footer-container a {
  font-size: .8rem;
}

.footer-row {
  text-align: center;
}

.footer-col-3 {
  margin-top: 4rem;
  padding-top: 1rem;
}

.footer-container {
  padding-top: 10rem;
}

.footer-col-2 a {
  margin-bottom: 1rem;
}

.visibility-hidden {
  visibility: hidden;
}
